<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/mystyles.css">
    <title>Flight Status Predictor</title>
</head>
<body>
    <div class="container">
        <h1>Flight Status Predictor</h1>
        <form id="flightForm">
            <label for="carrier">Carrier Name</label>
            <select id="carrier" name="carrier" required>
				<option value="" disabled selected> --Select a carrier-- </option>
                <option value="United">United Air Lines Inc.</option>
                <option value="Delta">Delta Air Lines Inc.</option>
                <option value="American">American Airlines Inc.</option>
                <option value="Southwest">Southwest Airlines Co.</option>
                <option value="Allegiant">Allegiant Air</option>
                <option value="JetBlue">JetBlue Airways</option>
                <option value="PSA">PSA Airlines Inc.</option>
                <option value="Endeavor">Endeavor Air Inc.</option>
                <option value="Alaska">Alaska Airlines Inc.</option>
                <option value="Frontier">Frontier Airlines Inc.</option>
                <option value="Envoy">Envoy Air</option>
                <option value="Hawaiian">Hawaiian Airlines Inc.</option>
				<option value="SkyWest">SkyWest Airlines Inc.</option>
				<option value="Republic">Republic Airline</option>
				<option value="Spirit">Spirit Air Lines</option>
            </select>
            
            <label for="date">Departure Date</label>
			<input type="date" id="date" name="date">
            
            <label for="depTimeBlock">Time of Day</label>
            <select id="depTimeBlock" name="depTimeBlock" onchange="updateScheduledTimes()" required>
				<option value="" disabled selected> --Select time of day-- </option>
                <option value="Early Morning">Early Morning</option>
                <option value="Morning">Morning</option>
                <option value="Early Afternoon">Early Afternoon</option>
                <option value="Afternoon">Afternoon</option>
                <option value="Evening">Evening</option>
                <option value="Night">Night</option>
            </select>
			
			<label for="scheduledDepTime">Scheduled Departure Time</label>
            <select id="scheduledDepTime" name="scheduledDepTime" required>
				<option value="" disabled selected> --Select Departure Time-- </option>
            </select>
            
            <button type="button" class="button" onclick="predictValue()">Predict</button>
        </form>
        <div id="prediction" class="prediction">Prediction will be displayed here.</div>
    </div>
	<script type="text/javascript" src="../js/flightPredict.js"></script>
</body>
</html>
